<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Read {{single_show.title}}</title>
</head>
<body>
    <div class='container mt-5'>
    <div class='row'>
        <div class='col mb-4'>
            <h1 class='d-inline'>TV Show {{single_show.id}}</h1>
            <a href='/shows' class='d-inline align-top float-right'>See Shows</a>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <p><h6>Title: {{single_show.title}}</h6></p>
            <p><h6>Network: {{single_show.network}}</h6></p>
            <p><h6>Release Date: {{single_show.release_date}}</h6></p>
            <p><h6>Description: {{single_show.desc}}</h6></p>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <p>Last updated @: {{single_show.updated_at}}</p>
            <a href='/shows/{{single_show.id}}/edit' class='text-warning'>Edit</a> |
            <a href='/delete/{{single_show.id}}' class='text-danger'>Delete</a>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>
</body>
</html>